body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.logo{
    width: 100px;
    height: auto;
    border-radius: 50%;
    margin-top: 10px;

}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 8px;
    margin-top: 10px;
}
.header{
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    margin: 0;
}
li{
    color: #e5e7eb;
    font-size: 18px;
}
.main-text{
    width: 350px;
    height: auto;
    
}
.headline{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin-top: 50px;

}
.subtext{
    font-size: 18px;
    color: #e5e7eb;
}
.hero{
    background-color: #1f2937;
    display: flex;
    justify-content: space-evenly;
}
.busfluff{
    width: 350px;
    height: auto;
    margin-top: 50px;
}
button{
    display: block;
    background-color: #3882f6;
    color: white;
    padding: 8px 24px;
    border-radius: 12%;
    margin-top: 8px;
    border:none;
    
}
.infoheader{
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
}
.outline{
    border: 4px solid #3882f6;
    width: 150px;
    height: 150px;
    border-radius: 10%;
}
.container{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.description{
    width: 150px;
    height: 150px;
}

.outline{
    display: flex;
    
}
.imageone, .imagetwo, .imagethree, .imagefour{
    
    width: 100%;
    height: auto;
    border-radius: 10%;
    }

.quote{
    background-color: #efe7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.thequote{
    width: 700px;
    height: 200;
    font-size: 36px;
    color: #1f2937;
    padding-top: 100px;
    padding-bottom: 100px;
}
.speaker{
    display: flex;
    justify-content: end;
}
.ad{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.the-ad{
    width: 1000px;
    height: 150px;
    color: white;
    border-radius: 25px;
    background-color: #3882f6;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    margin-top: 50px;
}
.calltoaction{
    align-self: center;
}
.signup{
    border: 2px solid white;
    
    height: 50px;
    width: 100px;
    align-self: center;
}
.footer{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.copyright{
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    
}